body {
    margin: 0;
    font-family: "Roboto Condensed";
}

nav {
    background-color: purple;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    padding: 30px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

nav a:hover {
    color: yellow;
    background-color: #690e69;
}